    <footer class="w-100 d-flex align-items justify-content-center flex-wrap">
        <div id="iconos">
            <p class="fs-5 px-3 pt-3">Hecho por: Grupo 5 - Misión TIC 2022 - 4ta. Cohorte</p>
            <a href="#"><i class="bi bi-linkedin"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
        </div>
    </footer>