<!DOCTYPE html>
<html lang="en">

<head>
    <title>Aesthetic Beauty L&P</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!--Alguno iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!--Font-->
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/registro.css">
    <title>Registro</title>
</head>

<body>
    <form id="formulario" action="registro" method="POST">
        <div id="contenedor">
            <div id="registro">

                <h1>Registro</h1>
                <div class="input-contenedor">
                    <i class="fa-solid fa-user  icon"></i>
                    <input id="name" type="text" name="name" placeholder="Nombre Completo" required>
                </div>

                <div class="input-contenedor">
                    <i class="fa-solid fa-id-card  icon"></i>
                    <input id="num_ident" type="text" name="num_ident" placeholder="Numero Identificación" required>
                </div>

                <div class="input-contenedor">
                    <i class="fa-solid fa-envelope  icon"></i>
                    <input id="email" type="text" name="email" placeholder="Email" required>
                </div>
                <button type="submit" title="Registrar" name="Registrar">Registrar</button>
            </div>
        </div>
    </form>
    
</body>

</html>
