body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: white;
    background-size: cover;
    background-attachment: fixed;
}

#contenedor {
    width: 100%;
    padding: 15px;
    border: 3px solid #edb1b7;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #32b3aa;
    font-size: 35px;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #32b3aa;
}

#form{
    margin: auto;
    width: 500px;
    margin-top: 200px;
    border-radius: 2%;
}

.chitito {
    text-align: center;
    font-size: 20px;
}

a{
    text-decoration: none;
}
#contenedor-inicial{
    background-color: #edb1b7;
}

#contenedor-formulario{
    display: flex;
    align-items: center;
  }

.logo{
    width: 100px;
    height: 100x;
}
#typewriter{
    font-family: 'Abel', sans-serif;
}
.card {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 1s;
    font-family: 'Abel', sans-serif;

}
#navbarSupportedContent{
    letter-spacing: 0;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
}
#ubicacion{
    font-size: 25px;
}
.iframe{
    max-width: 100%;
    height: auto;
}

footer{
    background-color:#edb1b7;
    min-height: 100px;
}
footer p {
    color: black;
    text-align: center;
    color: black;

}
#iconos i{
    font-size:26px;
    padding: 0 8px;
    text-align: center;
}
